* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e1e1e;
  font-family: sans-serif;
  color: #a0a0a0;
  line-height: 1.6;
}
.main-container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 350px 1fr;
  gap: 50px;
  padding-top: 40px;
  margin: auto; /*center the containers: applies equal width in left and right side not on top bottom*/
}
/* --------------SIDEBAR------------------ */
.sidebar {
  height: 90vh;
  background-color: #2a2a2a;
  border: 1px solid #3a3a3a;
  padding: 40px;
  position: sticky;
  top: 40px;
}
.main-content {
  /* height: 90vh; */
  background-color: #2a2a2a;
  border: 1px solid #3a3a3a;
  padding: 40px;
}
/* Profile Section */
.profile {
  text-align: center; /*centers any inline element,  in case of block element here it is h2 only the content of the block element is centered not the whole block element(applied only in horizontal way)*/
}
.profile img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid #3a3a3a;
}
.profile h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
  color: #e0e0e0;
}
.profile p {
  background-color: #1e1e1e;
  padding: 5px 15px;
  color: #ffbf00;
  border: 1px solid #3a3a3a;
  font-size: 0.8rem;
  border-radius: 8px;
  display: inline-block;
  margin-top: 10px;
}
/* Contact Information */
.contact {
  margin-top: 30px;
  border-top: 2px solid #3a3a3a;
  padding-top: 20px;
}
.label {
  font-weight: 500;
  font-size: 0.8rem;
  color: #a0a0a0;
}
.value {
  color: #e0e0e0;
  text-decoration: none;
}
.email,
.phone {
  margin-bottom: 15px;
}
/* Social Media Section */
.social {
  margin-top: 30px;
  border-top: 2px solid #3a3a3a;
  padding-top: 20px;
  text-align: center;
}
.social img {
  height: 24px;
  width: 24px;
  margin-left: 5px;
  filter: grayscale(1) invert(0.7); /*practice to use it in projects you are building, this is the power of using svg icon we can color the icon as we want*/
  transition: filter 0.3s ease;
}
.social img:hover {
  filter: grayscale(0) invert(0);
}
/* --------------MAIN SECTION-------------- */
/* navigation section */
nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: #a0a0a0;
  font-weight: 500;
  transition: color 0.3s ease;
}
#navigation {
  border-bottom: 2px solid #3a3a3a;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.active,
nav a:hover {
  color: #ffbf00;
}
/* about me */
.heading {
  color: #e0e0e0;
  font-size: 2rem;
  margin-bottom: 10px;
}
.line {
  width: 60px;
  height: 5px;
  background-color: #ffbf00;
  margin-bottom: 6px;
}
.content {
  text-align: justify;
}
#about {
  margin-bottom: 10px;
}
/* skills section */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 30px;
}
.item {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #3a3a3a;
  background-color: #1e1e1e;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item img {
  width: 48px;
  height: 48px;
  filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg)
    brightness(110%) contrast(101%);
  margin-bottom: 10px;
  /* margin-top: 20px; */
}
.item h3 {
  font-size: 1rem;
  font-weight: 500;
}

.item:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
/* Education Section */
#education {
  margin-top: 30px;
}
.year {
  font-size: 0.9rem;
  color: #a0a0a0;
  margin-bottom: 5px;
}
.degree {
  color: #e0e0e0;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.college {
  font-style: italic;
  color: #a0a0a0;
  margin-bottom: 10px;
}
.edfirst,
.edsecond {
  margin-bottom: 30px;
  position: relative;
  padding-left: 30px;
}
.work {
  color: #a0a0a0;
}
.goal {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 5px solid #ffbf00;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 5;
}
.edtech {
  position: relative;
  margin-top: 20px;
}
.liner {
  position: absolute;
  width: 2px;
  top: 0px;
  left: 4px;
  bottom: 0px;
  border: 2px solid #3a3a3a;
}
/* portfolio section */
.project-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.project img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}
.project {
  background-color: #1e1e1e;
  border-radius: 12px;
  border: 1px solid #3a3a3a;
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.project:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.card {
  padding: 20px;
}
.card h3 {
  color: #e0e0e0;
  margin-bottom: 10px;
}
.card p {
  color: #a0a0a0;
  line-height: 1.6;
  text-align: start;
  margin-bottom: 15px;
}
.card span {
  background-color: rgba(255, 191, 0, 0.1);
  color: #ffbf00;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.75rem;
  margin-right: 5px;
}
/* Responsiveness => Mobile-First Approach */
@media screen and (max-width: 1200px) {
  .main-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .sidebar {
    position: static; /*otherwise content will overflow on it*/
    height: auto;
  }
}

@media screen and (max-width: 750px) {
  .project-container {
    grid-template-columns: 1fr;
  }

  #navigation nav {
    /* Adjust nav for smaller screens */
    justify-content: center;
    flex-wrap: wrap;
  }

  .sidebar {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}
